@media screen and (min-width: 480px){

	/***********************************
	TWO COLUMN LAYOUT
	***********************************/

	#primary {
		width: 50%;
		float: left;
	}

	#secondary {
		width: 40%;
		float: right;
	}


	/***********************************
	Page: shop
	***********************************/

	#gallery li {
		width: 28.33333%;
	}

	#gallery li:nth-child(4n) {
		clear: left;
	}

	#cart {
		max-width: 100%;
		border-radius: 0px;
	}
	.simpleCart_items table {
		width: 60%;
		margin-left:auto;
		margin-right:auto;
	}
}

@media screen and (min-width: 1000px){

	/***********************************
	HEADER
	***********************************/

	nav {
		background: none;
		float: right;
		margin-right: 5%;
		text-align: right;
		width: 50%;
	}

	nav li {
		font-size: 1.5vw;
	}

	#logo {
		float: left;
		margin-left: 5%;
		text-align: left;
		width: 40%;
		min-width: 50px;
	}

	h1 {
		font-size: 2.5em;
	}

	h2 {
		font-size: 0.825em;
		margin-bottom: 20px;
	}

	header {
		border-bottom: 5px solid #333;
		margin-bottom: 20px;
	}

	#cart {
		max-width: 60%;
		border-radius: 25px;
	}
}

@media screen and (max-width: 1550px) {
	#logo img {
		display: none;
	}
	.hidemobile {
		display: none;
	}

}
